<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/icon/icon.png" rel="icon" type="image/icon type">
    <link href="/static/icon/icon.png" rel="shortcut icon" type="image/icon type">
    <link href="/static/css/head.css" rel="stylesheet">
    <link href="/static/css/head2.css" rel="stylesheet">
    <link href="/static/css/recover.css" rel="stylesheet">
    <script src="/static/js/ethers.js"></script>
    <script src="/static/js/var.js"></script>
    <script src="/static/js/func.js"></script>
    <script src="/static/js/recover.js"></script>

    <title>University of Westeros | UW</title>
</head>

<body>
<h1 class="h1"><img alt="University Emblem" class="logo" src="/static/icon/icon.png">
    University of Westeros
    <button class="connect_wallet_button" id="connect_wallet_button" onclick="connectWallet()">Connect Wallet</button>
</h1>

<div class="container">
    <div>
        <span id="message">
        </span>
        <span id="more">
            Enter details to recover Diploma:
        </span>
    </div>

    <table class="content_table">
        <tr>
            <td>
                <label for="recipient">Recipient Address:</label>
            </td>
            <td>
                <input class="box" id="recipient" name="recipient" placeholder="Address" required
                       type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label for="certificate_number">Certificate Number:</label>
            </td>
            <td>
                <input class="box" id="certificate_number" name="certificate_number" placeholder="Certificate Number"
                       required type="number">
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td style="text-align: right">
                <button class="recover_button" onclick="recover()">Recover</button>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <form action="/admin">
                    <input class="mint_diploma" type="submit" value="Mint Diploma">
                </form>

            </td>
            <td>
                <form action="/update" method="POST">
                    <input class="update_diploma" type="submit" value="Update Diploma">
                </form>
            </td>
        </tr>
    </table>

</div>

</body>

</html>
